.mid {

	font-size: medium; font-style: italic; font-weight: bolder; text-decoration: underline;

}

.large {

	font-size: large;

}

.large2 {
    
	font-size: large; font-style: italic; font-weight: bold;

}    

.h3 {
    
	font-size: large; letter-spacing: 2px;text-shadow: 2px 2px 2px blue;

}

.h1 {
    
	padding: 10px;    
    border-style: dotted;

}

.web:hover {
    
color: purple;
    font-size: 12pt;
    text-shadow: 5px 4px 4px grey;
}

.h0 {

    background-image: url("https://cdn.hipwallpaper.com/i/12/90/FORMBs.jpg");
}